// 載入全部的功能模組在main.js
@import './util/reset.scss';
@import './layout/layout.scss';
@import './util/animation.scss';
@import './util/mixin.scss';

// font
@import './font/font.scss';
// UI
@import './component/form.scss';
@import './component/buttons.scss';
@import './component/paypage.scss';

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Noto Sans CJK TC', 'Microsoft JhengHei', sans-serif;
  user-select: none;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
}