// colors
$primary-color: #343434;
$second-color: #A8D574;
$error-color: #FF521A;

// panel
$menu-panel-width: 450px;

$media-max-size: 1280px;
$media-size-ipad: 768px;
$media-size-phone: 425px;
$media-size-sphone: 375px;